<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Mohammed Kamle. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="./img/me.PNG">
    </div>

    {{>footer}}
</body>

</html>